.workout-grid {
    padding: 20px;
}

.workout-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.workout-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.workout-card img {
    width: 100%;
    height: 220px; /* Adjusted height */
    object-fit: contain; /* Changed to contain to fit the entire image */
}

.workout-card .MuiCardContent-root {
    padding: 16px;
}

.workout-card h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}
